In [210]:
import pandas as pd

In [211]:
player_data = pd.read_csv('baseballdatabank-master/core/Master.csv', sep=',', usecols = [0, 13, 14])

In [212]:
player_data.head(5)

    playerID nameFirst nameLast
0  aardsda01     David  Aardsma
1  aaronha01      Hank    Aaron
2  aaronto01    Tommie    Aaron
3   aasedo01       Don     Aase
4   abadan01      Andy     Abad

In [213]:
batting_data = pd.read_csv('baseballdatabank-master/core/Batting.csv', sep=',', usecols=[0, 1, 5, 6, 8, 11, 15, 18, 20]).fillna(value=0)

In [214]:
batting_data.head(5)

    playerID  yearID   G     AB     H   HR   BB  HBP   SF
0  abercda01    1871   1    4.0   0.0  0.0  0.0  0.0  0.0
1   addybo01    1871  25  118.0  32.0  0.0  4.0  0.0  0.0
2  allisar01    1871  29  137.0  40.0  0.0  2.0  0.0  0.0
3  allisdo01    1871  27  133.0  44.0  2.0  0.0  0.0  0.0
4  ansonca01    1871  25  120.0  39.0  0.0  2.0  0.0  0.0

In [215]:
position_data = pd.read_csv('baseballdatabank-master/core/Appearances.csv', sep=',', usecols=[0, 3, 4, 8, 9, 10, 11, 12, 13, 14, 15, 16])

In [216]:
position_data.head(5)

,yearID,playerID,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf
0,1871,barnero01,31.0,0,0,0,16,0,15,0,0,0
1,1871,barrofr01,18.0,0,0,0,1,0,0,13,0,4
2,1871,birdsda01,29.0,0,7,0,0,0,0,0,0,27
3,1871,conefr01,19.0,0,0,0,0,0,0,18,0,1
4,1871,gouldch01,31.0,0,0,30,0,0,0,0,0,1

In [217]:
salary_data = pd.read_csv('baseballdatabank-master/core/Salaries.csv', sep=',', usecols= [0, 3, 4])

In [218]:
salary_data.head(5)

   yearID   playerID  salary
0    1985  barkele01  870000
1    1985  bedrost01  550000
2    1985  benedbr01  545000
3    1985   campri01  633333
4    1985  ceronri01  625000

In [219]:
add_position = batting_data.merge(position_data, on=['playerID', 'yearID'])

In [220]:
add_position.head(10)

,playerID,yearID,G,AB,H,HR,BB,HBP,SF,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf
0,abercda01,1871,1,4.0,0.0,0.0,0.0,0.0,0.0,1.0,0,0,0,0,0,1,0,0,0
1,addybo01,1871,25,118.0,32.0,0.0,4.0,0.0,0.0,25.0,0,0,0,22,0,3,0,0,0
2,allisar01,1871,29,137.0,40.0,0.0,2.0,0.0,0.0,29.0,0,0,0,2,0,0,0,29,0
3,allisdo01,1871,27,133.0,44.0,2.0,0.0,0.0,0.0,27.0,0,27,0,0,0,0,0,0,0
4,ansonca01,1871,25,120.0,39.0,0.0,2.0,0.0,0.0,25.0,0,5,1,2,20,0,1,0,0
5,armstbo01,1871,12,49.0,11.0,0.0,0.0,0.0,0.0,12.0,0,0,0,0,0,0,0,11,1
6,barkeal01,1871,1,4.0,1.0,0.0,1.0,0.0,0.0,1.0,0,0,0,0,0,0,1,0,0
7,barnero01,1871,31,157.0,63.0,0.0,13.0,0.0,0.0,31.0,0,0,0,16,0,15,0,0,0
8,barrebi01,1871,1,5.0,1.0,0.0,0.0,0.0,0.0,1.0,0,1,0,0,1,0,0,0,0
9,barrofr01,1871,18,86.0,13.0,0.0,0.0,0.0,0.0,18.0,0,0,0,1,0,0,13,0,4

In [221]:
complete_data = add_position.merge(salary_data, on=['playerID', 'yearID'])

In [222]:
complete_data

,playerID,yearID,G,AB,H,HR,BB,HBP,SF,G_all,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,salary
0,ackerji01,1985,61,0.0,0.0,0.0,0.0,0.0,0.0,61.0,61,0,0,0,0,0,0,0,0,170000
1,agostju01,1985,54,0.0,0.0,0.0,0.0,0.0,0.0,54.0,54,0,0,0,0,0,0,0,0,147500
2,aguaylu01,1985,91,165.0,46.0,6.0,22.0,6.0,3.0,91.0,0,0,0,17,7,60,0,0,0,237000
3,alexado01,1985,36,0.0,0.0,0.0,0.0,0.0,0.0,36.0,36,0,0,0,0,0,0,0,0,875000
4,allenne01,1985,23,2.0,0.0,0.0,0.0,0.0,0.0,17.0,17,0,0,0,0,0,0,0,0,750000
5,allenne01,1985,23,2.0,0.0,0.0,0.0,0.0,0.0,23.0,23,0,0,0,0,0,0,0,0,750000
6,allenne01,1985,17,0.0,0.0,0.0,0.0,0.0,0.0,17.0,17,0,0,0,0,0,0,0,0,750000
7,allenne01,1985,17,0.0,0.0,0.0,0.0,0.0,0.0,23.0,23,0,0,0,0,0,0,0,0,750000
8,almonbi01,1985,88,244.0,66.0,6.0,22.0,1.0,3.0,88.0,0,0,7,0,7,43,26,6,0,255000
9,anderla02,1985,57,4.0,0.0,0.0,0.0,0.0,0.0,57.0,57,0,0,0,0,0,0,0,0,250500
10,andujjo01,1985,38,94.0,10.0,0.0,5.0,0.0,0.0,38.0,38,0,0,0,0,0,0,0,0,1030000
11,armasto01,1985,103,385.0,102.0,23.0,18.0,2.0,5.0,103.0,0,0,0,0,0,0,16,69,2,915000
12,ashbyal01,1985,65,189.0,53.0,8.0,24.0,1.0,1.0,65.0,0,60,0,0,0,0,0,0,0,416667
13,atherke01,1985,56,0.0,0.0,0.0,0.0,0.0,0.0,56.0,56,0,0,0,0,0,0,0,0,107333
14,ayalabe01,1985,46,76.0,19.0,2.0,4.0,0.0,1.0,46.0,0,0,0,0,0,0,20,0,0,303333
15,backmwa01,1985,145,520.0,142.0,1.0,36.0,1.0,3.0,145.0,0,0,0,140,0,1,0,0,0,200000
16,bailobo01,1985,74,118.0,29.0,0.0,3.0,1.0,0.0,74.0,0,0,0,16,45,5,1,0,0,330000
17,baineha01,1985,160,640.0,198.0,22.0,42.0,1.0,10.0,160.0,0,0,0,0,0,0,0,0,159,675000
18,bakerdu01,1985,111,343.0,92.0,14.0,50.0,0.0,3.0,111.0,0,0,58,0,0,0,32,0,5,575000
19,balbost01,1985,160,600.0,146.0,36.0,52.0,5.0,5.0,160.0,0,0,160,0,0,0,0,0,0,205000
20,bandoch01,1985,73,173.0,24.0,0.0,22.0,0.0,2.0,73.0,0,67,0,0,0,0,0,0,0,225000
21,bannial01,1985,57,122.0,32.0,1.0,14.0,0.0,0.0,57.0,0,0,4,10,5,0,9,0,5,350000
22,bannifl01,1985,34,0.0,0.0,0.0,0.0,0.0,0.0,34.0,34,0,0,0,0,0,0,0,0,811250
23,barfije01,1985,155,539.0,156.0,27.0,66.0,4.0,3.0,155.0,0,0,0,0,0,0,0,8,147,325000
24,barkele01,1985,20,17.0,0.0,0.0,0.0,0.0,0.0,20.0,20,0,0,0,0,0,0,0,0,870000
25,barrema02,1985,156,534.0,142.0,5.0,56.0,2.0,4.0,156.0,0,0,0,155,0,0,0,0,0,272500
26,basske01,1985,150,539.0,145.0,16.0,31.0,6.0,2.0,150.0,0,0,0,0,0,0,10,105,39,155000
27,baylodo01,1985,142,477.0,110.0,23.0,52.0,24.0,10.0,142.0,0,0,0,0,0,0,0,0,0,810000
28,beattji01,1985,18,0.0,0.0,0.0,0.0,0.0,0.0,18.0,18,0,0,0,0,0,0,0,0,470000
29,beckwjo01,1985,49,0.0,0.0,0.0,0.0,0.0,0.0,49.0,49,0,0,0,0,0,0,0,0,358000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32269,woodal02,2015,20,33.0,5.0,0.0,3.0,0.0,0.0,20.0,20,0,0,0,0,0,0,0,0,520000
32270,woodal02,2015,20,33.0,5.0,0.0,3.0,0.0,0.0,12.0,12,0,0,0,0,0,0,0,0,520000
32271,woodal02,2015,12,22.0,4.0,0.0,1.0,0.0,0.0,20.0,20,0,0,0,0,0,0,0,0,520000
32272,woodal02,2015,12,22.0,4.0,0.0,1.0,0.0,0.0,12.0,12,0,0,0,0,0,0,0,0,520000
32273,woodtr01,2015,60,30.0,3.0,0.0,2.0,0.0,0.0,60.0,54,0,0,0,0,0,0,0,0,5686000
32274,wootero01,2015,4,1.0,0.0,0.0,0.0,0.0,0.0,4.0,4,0,0,0,0,0,0,0,0,509500
32275,worleva01,2015,24,17.0,3.0,0.0,0.0,0.0,0.0,24.0,23,0,0,0,0,0,0,0,0,2450000
32276,wrighda03,2015,38,152.0,44.0,5.0,22.0,0.0,0.0,38.0,0,0,0,0,38,0,0,0,0,20000000
32277,wrighst01,2015,16,1.0,0.0,0.0,0.0,0.0,0.0,16.0,16,0,0,0,0,0,0,0,0,510500
32278,wrighwe01,2015,2,0.0,0.0,0.0,0.0,0.0,0.0,9.0,9,0,0,0,0,0,0,0,0,1700000
32279,wrighwe01,2015,2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2,0,0,0,0,0,0,0,0,1700000
32280,wrighwe01,2015,9,0.0,0.0,0.0,0.0,0.0,0.0,9.0,9,0,0,0,0,0,0,0,0,1700000
32281,wrighwe01,2015,9,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2,0,0,0,0,0,0,0,0,1700000
32282,yateski01,2015,20,0.0,0.0,0.0,0.0,0.0,0.0,20.0,20,0,0,0,0,0,0,0,0,512800
32283,yelicch01,2015,126,476.0,143.0,7.0,47.0,2.0,0.0,126.0,0,0,0,0,0,0,103,36,0,570000
32284,youngch03,2015,34,4.0,2.0,0.0,0.0,0.0,0.0,34.0,34,0,0,0,0,0,0,0,0,675000
32285,youngch04,2015,140,318.0,80.0,14.0,30.0,3.0,2.0,140.0,0,0,0,0,0,0,55,15,76,2500000
32286,youngde03,2015,52,174.0,47.0,2.0,4.0,1.0,1.0,52.0,0,0,0,0,0,0,2,0,40,2250000
32287,younger03,2015,35,77.0,13.0,0.0,6.0,0.0,0.0,35.0,0,0,0,0,0,0,13,16,0,1000000
32288,younger03,2015,35,77.0,13.0,0.0,6.0,0.0,0.0,18.0,0,0,0,0,0,0,5,0,2,1000000
32289,younger03,2015,18,8.0,0.0,0.0,0.0,1.0,0.0,35.0,0,0,0,0,0,0,13,16,0,1000000
32290,younger03,2015,18,8.0,0.0,0.0,0.0,1.0,0.0,18.0,0,0,0,0,0,0,5,0,2,1000000
32291,zieglbr01,2015,66,0.0,0.0,0.0,0.0,0.0,0.0,66.0,66,0,0,0,0,0,0,0,0,5000000
32292,zimmejo02,2015,33,63.0,10.0,0.0,0.0,0.0,0.0,33.0,33,0,0,0,0,0,0,0,0,16500000
32293,zimmery01,2015,95,346.0,86.0,16.0,33.0,1.0,10.0,95.0,0,0,93,0,0,0,1,0,0,14000000
32294,zobribe01,2015,67,235.0,63.0,6.0,33.0,0.0,3.0,59.0,0,0,0,35,4,0,18,0,2,7500000
32295,zobribe01,2015,67,235.0,63.0,6.0,33.0,0.0,3.0,67.0,0,0,0,34,0,0,27,0,3,7500000
32296,zobribe01,2015,59,232.0,66.0,7.0,29.0,1.0,2.0,59.0,0,0,0,35,4,0,18,0,2,7500000
32297,zobribe01,2015,59,232.0,66.0,7.0,29.0,1.0,2.0,67.0,0,0,0,34,0,0,27,0,3,7500000
32298,zuninmi01,2015,112,350.0,61.0,11.0,21.0,5.0,2.0,112.0,0,112,0,0,0,0,0,0,0,523500

In [225]:
complete_data['OBP']= (complete_data['BB'] + complete_data['H'] + complete_data['HBP'])/(complete_data['AB'] + complete_data['BB'] + complete_data['HBP'] + complete_data['SF'])

In [228]:
complete_data.sort_values('OBP', ascending=False)

,playerID,yearID,G,AB,H,HR,BB,HBP,SF,G_all,...,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,salary,OBP
16323,quantpa01,2000,68,0.0,0.0,0.0,1.0,0.0,0.0,68.0,...,0,0,0,0,0,0,0,0,1800000,1.0
19243,hermadu01,2003,23,0.0,0.0,0.0,1.0,0.0,0.0,9.0,...,0,0,0,0,0,0,0,0,900000,1.0
16200,mohlemi01,2000,22,1.0,1.0,0.0,0.0,0.0,0.0,2.0,...,0,0,0,0,0,0,0,0,690000,1.0
26543,campsh01,2010,70,1.0,1.0,0.0,0.0,0.0,0.0,70.0,...,0,0,0,0,0,0,0,0,1150000,1.0
15160,rodriri02,1999,62,1.0,1.0,0.0,0.0,0.0,0.0,62.0,...,0,0,0,0,0,0,0,0,730000,1.0
11748,castica02,1997,37,1.0,1.0,0.0,0.0,0.0,0.0,37.0,...,0,0,0,0,0,0,0,0,150000,1.0
15197,santaju01,1999,22,1.0,1.0,0.0,0.0,0.0,0.0,22.0,...,0,0,0,0,0,0,0,0,272500,1.0
19395,loopebr01,2003,74,1.0,1.0,0.0,0.0,0.0,0.0,74.0,...,0,0,0,0,0,0,0,0,1600000,1.0
19354,lathach01,2003,4,2.0,2.0,0.0,0.0,0.0,0.0,4.0,...,0,0,0,0,0,0,1,1,400000,1.0
11772,clarkte01,1997,9,1.0,1.0,0.0,0.0,0.0,0.0,4.0,...,0,0,0,0,0,0,0,0,200000,1.0
31457,dunnmi01,2015,72,1.0,1.0,0.0,0.0,0.0,0.0,72.0,...,0,0,0,0,0,0,0,0,2350000,1.0
11773,clarkte01,1997,9,1.0,1.0,0.0,0.0,0.0,0.0,9.0,...,0,0,0,0,0,0,0,0,200000,1.0
9792,myersra01,1995,57,0.0,0.0,0.0,1.0,0.0,0.0,57.0,...,0,0,0,0,0,0,0,0,4233334,1.0
9782,murphro01,1995,6,1.0,1.0,0.0,0.0,0.0,0.0,6.0,...,0,0,0,0,0,0,0,0,250000,1.0
9781,murphro01,1995,6,1.0,1.0,0.0,0.0,0.0,0.0,8.0,...,0,0,0,0,0,0,0,0,250000,1.0
19244,hermadu01,2003,23,0.0,0.0,0.0,1.0,0.0,0.0,23.0,...,0,0,0,0,0,0,0,0,900000,1.0
559,spillda01,1985,53,0.0,0.0,0.0,1.0,0.0,0.0,53.0,...,0,0,0,0,0,0,0,0,390000,1.0
30598,gomezje01,2014,44,1.0,1.0,0.0,0.0,0.0,0.0,44.0,...,0,0,0,0,0,0,0,0,514500,1.0
19156,georgch02,2003,18,1.0,1.0,0.0,0.0,0.0,0.0,18.0,...,0,0,0,0,0,0,0,0,303500,1.0
5512,jeffcmi01,1991,70,1.0,1.0,0.0,0.0,0.0,0.0,70.0,...,0,0,0,0,0,0,0,0,390000,1.0
19030,colyest01,2003,13,0.0,0.0,0.0,1.0,0.0,0.0,13.0,...,0,0,0,0,0,0,0,0,300000,1.0
5620,mcclubo01,1991,32,1.0,1.0,0.0,0.0,0.0,0.0,13.0,...,0,0,0,0,0,0,0,0,700000,1.0
9705,martipe03,1995,25,0.0,0.0,0.0,1.0,0.0,0.0,25.0,...,0,0,0,0,0,0,0,0,175000,1.0
5621,mcclubo01,1991,32,1.0,1.0,0.0,0.0,0.0,0.0,32.0,...,0,0,0,0,0,0,0,0,700000,1.0
13126,embreal01,1998,35,0.0,0.0,0.0,1.0,0.0,0.0,20.0,...,0,0,0,0,0,0,0,0,575000,1.0
31352,choatra01,2015,71,0.0,0.0,0.0,1.0,0.0,0.0,71.0,...,0,0,0,0,0,0,0,0,3000000,1.0
13125,embreal01,1998,35,0.0,0.0,0.0,1.0,0.0,0.0,35.0,...,0,0,0,0,0,0,0,0,575000,1.0
5708,parreje01,1991,18,0.0,0.0,0.0,1.0,0.0,0.0,18.0,...,0,0,0,0,0,0,0,0,855000,1.0
31315,carraca01,2015,30,1.0,1.0,0.0,0.0,0.0,0.0,30.0,...,0,0,0,0,0,0,0,0,2337500,1.0
18622,rodrife01,2002,71,1.0,1.0,0.0,0.0,0.0,0.0,71.0,...,0,0,0,0,0,0,0,0,2516667,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32150,staufti01,2015,5,0.0,0.0,0.0,0.0,0.0,0.0,13.0,...,0,0,0,0,0,0,0,0,2200000,NaN
32151,staufti01,2015,5,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0,0,0,0,0,0,0,0,2200000,NaN
32153,stitema01,2015,11,0.0,0.0,0.0,0.0,0.0,0.0,11.0,...,0,0,0,0,0,0,0,0,510500,NaN
32154,storedr01,2015,58,0.0,0.0,0.0,0.0,0.0,0.0,58.0,...,0,0,0,0,0,0,0,0,5700000,NaN
32156,streehu01,2015,62,0.0,0.0,0.0,0.0,0.0,0.0,62.0,...,0,0,0,0,0,0,0,0,7000000,NaN
32157,stromma01,2015,4,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0,0,0,0,0,0,0,0,514700,NaN
32158,stroppe01,2015,76,0.0,0.0,0.0,0.0,0.0,0.0,76.0,...,0,0,0,0,0,0,0,0,2525000,NaN
32166,swarzan01,2015,10,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,0,0,0,0,0,0,0,0,900000,NaN
32176,tazawju01,2015,61,0.0,0.0,0.0,0.0,0.0,0.0,61.0,...,0,0,0,0,0,0,0,0,2250000,NaN
32181,thatcjo01,2015,43,0.0,0.0,0.0,0.0,0.0,0.0,43.0,...,0,0,0,0,0,0,0,0,1000000,NaN
32182,thayeda01,2015,38,0.0,0.0,0.0,0.0,0.0,0.0,38.0,...,0,0,0,0,0,0,0,0,1375000,NaN
32184,thompaa01,2015,41,0.0,0.0,0.0,0.0,0.0,0.0,41.0,...,0,0,0,0,0,0,0,0,520000,NaN
32185,thornma01,2015,60,0.0,0.0,0.0,0.0,0.0,0.0,60.0,...,0,0,0,0,0,0,0,0,3500000,NaN
32188,tollesh01,2015,73,0.0,0.0,0.0,0.0,0.0,0.0,73.0,...,0,0,0,0,0,0,0,0,519700,NaN
32191,tomlijo01,2015,10,0.0,0.0,0.0,0.0,0.0,0.0,10.0,...,0,0,0,0,0,0,0,0,1500000,NaN
32205,ueharko01,2015,43,0.0,0.0,0.0,0.0,0.0,0.0,43.0,...,0,0,0,0,0,0,0,0,9000000,NaN
32228,vargaja01,2015,9,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0,0,0,0,0,0,0,0,8500000,NaN
32230,varvaan01,2015,9,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0,0,0,0,0,0,0,0,576500,NaN
32236,verlaju01,2015,20,0.0,0.0,0.0,0.0,0.0,0.0,20.0,...,0,0,0,0,0,0,0,0,28000000,NaN
32242,vinceni01,2015,26,0.0,0.0,0.0,0.0,0.0,0.0,26.0,...,0,0,0,0,0,0,0,0,525300,NaN
32250,waldejo01,2015,12,0.0,0.0,0.0,0.0,0.0,0.0,12.0,...,0,0,0,0,0,0,0,0,2675000,NaN
32255,watsoto01,2015,77,0.0,0.0,0.0,0.0,0.0,0.0,77.0,...,0,0,0,0,0,0,0,0,1750000,NaN
32261,wilheto01,2015,53,0.0,0.0,0.0,0.0,0.0,0.0,53.0,...,0,0,0,0,0,0,0,0,1400000,NaN
32267,wilsoju10,2015,74,0.0,0.0,0.0,0.0,0.0,0.0,74.0,...,0,0,0,0,0,0,0,0,556000,NaN
32278,wrighwe01,2015,2,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0,0,0,0,0,0,0,0,1700000,NaN
32279,wrighwe01,2015,2,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0,0,0,0,0,0,0,0,1700000,NaN
32280,wrighwe01,2015,9,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0,0,0,0,0,0,0,0,1700000,NaN
32281,wrighwe01,2015,9,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0,0,0,0,0,0,0,0,1700000,NaN
32282,yateski01,2015,20,0.0,0.0,0.0,0.0,0.0,0.0,20.0,...,0,0,0,0,0,0,0,0,512800,NaN
32291,zieglbr01,2015,66,0.0,0.0,0.0,0.0,0.0,0.0,66.0,...,0,0,0,0,0,0,0,0,5000000,NaN